/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --gradient: linear-gradient(45deg,
            #845ec2,
            #d65db1,
            #ff6f91,
            #ff9671,
            #ffc75f,
            #f9f871);
    font-size: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    background-image: var(--gradient);
    background-size: 300%;
    background-repeat: repeat;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(23rem, 80vw, 80rem);
    height: clamp(35rem, 70vh, 50rem);

}

.bg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace', cursive;
    font-size: clamp(1.2rem, 4vw, 3rem);
    font-weight: 900;
    width: 50%;
    height: 100%;

}

form {
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    width: 50%;
    height: 100%;
    padding: 2em;

}

.fields {
    font-size: .8rem;
}

.fields>h1 {
    font-size: 2.5rem;
    font-family: 'Bruno Ace', cursive;
    font-weight: 800;
    border-radius: 2px;
    color: #000;
}

.fields {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    color: #b4b2b2;
}

.field {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: .8rem .8rem 0;

}

input {
    height: 2rem;
    padding: .3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #b4b2b2;
    outline: none;
    font-size: 1.2rem;
}

.checkbox-field {
    display: flex;
    font-family: 'Alice', serif;
    align-items: center;
    margin: 1rem;
}

.btn {
    display: inline-block;
    width: 10rem;
    padding: 1.2em 1.8em;
    margin: 3em 0em 0 1em;
    background-image: var(--gradient);
    border: none;
    font-family: 'Alice', serif;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;

}


button {
    display: inline-block;
    width: 10rem;
    padding: 1.2em 1.8em;
    margin: 0em 1em;
    background-image: var(--gradient);
    border: none;
    font-family: 'Alice', serif;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;

}

button:hover,
button:focus {
    background-position: right;
}

.para {
    margin-top: 1.5rem;
}


#sign-inBtn {
    background-image: none;
    background-color: #fff;
    color: #000;
}

/* FORM VALIDATION */

/* input:valid {
    border-color: #7ce254;
    background-color: rgb(237, 255, 221);
} */


input:invalid {
    border-color: rgb(255, 86, 86);
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: rgb(253, 77, 77);
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}


@media screen and (max-width: 1112px) {
    .form-content {
        display: flex;
        flex-direction: column;
    }

    .form {
        width: 65%;
        padding: 2.5em 2em 2.5em 2em;
    }

    .fields>h1 {
        font-size: 1.2rem;
    }

    button {
        width: 8rem;
        padding: 1em 1.5em;
    }

    .bg-img {
        margin-bottom: 1rem;
    }

    input {
        font-size: 1rem;
    }

    .error {
        font-size: 70%;
    }

    .para {
        margin-top: 1rem;
    }

    .content {
        height: clamp(43rem, 100vh, 50rem);
    }

}